@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format(truetype);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

.main {
    padding-top: 150px;
}

.head {
    display: grid;
    gap: 1.5rem;
    margin: 0 50px;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.about {
    margin-bottom: 30px;
    display: grid;
    row-gap: 4rem;
    padding-top: 2rem;
}

.title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: .5rem;
}

.title h1 {
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 5px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.intro__section:not(:last-child) {
    margin-bottom: 40px;
}

.intro__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.intro__image img {
    width: 170px;
    height: auto;
    border-radius: 5.5rem;
    display: flex;
    margin: auto;
    object-fit: cover;
}

.social {
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}

.social__link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
}

.social__link:hover {
    color: var(--title-color);
}

/* INFO */
.info {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.info__section {
    margin-bottom: 30px;
}

.info__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.info__description {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
}

/* TESTIMONIALS */
.testimonial {
    margin-bottom: 50px;
}

.testimonial__title {
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.testimonial__container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.testimonial__arrow {
    font-size: 24px;
    cursor: pointer;
}

.testimonial__items {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 50rem;
}

.testimonial__content {
    min-width: 50rem;
    text-align: center;
    transition: all 0.5s;
}

.testimonial__description {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial__name {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.testimonial__subtitle {
    font-size: 14px;
    text-transform: capitalize;
}