@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format(truetype);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

body {
    font-family: Montserrat;
}

.contact {
    padding-top: 150px;
}

.section-title {
    text-align: center;
}

.section__subtitle {
    display: block;
    text-align: center;
}

.contact__container {
    margin-top: 30px;
    row-gap: 3.5rem;
}

.contact__content {
    margin-bottom: 30px;
}

.contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 4rem;
    font-size: 24px;
}

.contact__title i {
    font-size: 1rem;
}

.contact__info,
.contact__data,
.contact__form {
    display: grid;
}

.contact__info {
    row-gap: 2rem;
}

.contact__data {
    row-gap: .75rem;
    display: absolute;
    justify-content: center;
    align-items: center;
}

.contact__data_title {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__data-info {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.contact__button {
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: 5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.contact__button i {
    font-size: 1rem;
    transition: transform .3s;
}

.contact__button:hover i {
    transform: translateX(.25rem);
}

.contact__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.contact__form-div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}

.contact__form-tag {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s;
}

.contact__form-tag.active {
    top: -20%;
    left: 0;
}

.contact__form-input {
    min-width: 400px;
    width: auto;
    padding: 20px 25px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: inherit;
}

.contact__form-input:focus + label {
    top: -20%;
    left: 0;
}

.contact__form-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 25px;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-family: inherit;
    cursor: pointer;
    transition: all .3s;
}

.contact__form-button:hover {
    background-color: black;
    color: white;
}

.contact-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 80px;
    text-align: center;
    border-radius: 5px;
    max-width: 500px;
    z-index: 111;
}

.contact-popup h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-popup p {
    font-size: 18px;
    margin-bottom: 50px;
}

.contact-popup button {
    background-color: black;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
}

.contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 11;
}